<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta
     name="description"           
     content="Mary's simple recipe for maple bacon donuts
               makes a sticky, sweet treat with just a hint
               of salt that you'll keep coming back for.">
     <link rel="icon" href="favicon.png">
     <link rel="manifest" href="manifest.json">
     <meta name="theme-color" content="#36332C"/>
     <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>
<body>
<header>
     <nav id="drawer" class="nav">
          <a href="#maincontent" class="skip-link" id="link">Menuju ke konten</a>
          <div class="box1">
               <li class="nav__item" id="header__menu"><a id="menu" href="#" >☰</a></li>
          </div>
          <div class="box2">
               <div id="list__menu">
                    <li  class="nav__item" id="nav__p"><a href="#/home"><i class="fa fa-home"></i>Home</a></li>
                    <li  class="nav__item" id="nav__p"><a href="#/favorite"><i class="fa fa-star"></i>Favorite</a></li>
                    <li  class="nav__item" id="nav__p"><a target="_blank" rel="noopener" href="https://www.linkedin.com/in/yogi-maha-putra-8032a7198"><i class="fa fa-home"></i>About us</a></li>
              </div>
          </div>
          <div class="box3">
               <li  class="nav__item" ><h1 id="logo">CAFEKUY!</h1></li>
          </div>
      </nav>
</header>
<div class="hero">
     <div class="hero__inner">
          <h1 class="hero__title">Bangun Karirmu Sebagai<br> Developer Profesional</h1>
          <p class="hero__tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator dan
             developer expert</p>
     </div>
 </div>
<main id="maincontent" >
     <h1 class="latest__label">Explore Restaurant</h1>
     <div class="latest">

      </div>

</main>
<footer>
     <ul>
         <li><a href="#">Copyright © 2020 - CAFEKUY!</a></li>
     </ul>
 </footer>

</body>
</html>
